<div>
  <div class="flex flex-col items-center w-5/6 m-auto justify-between mt-8 mb-4">
    <h1 class="mb-4"> <%= current_account.name %> Rep Totals </h1>
    <%= link_to "Create Report", new_report_path, class: "btn btn-secondary" %>
  </div>
  <% @totals.each do |u| %>
   <%- name = u[0]%>
   <%- rep_hash = u[1] %>
    <div class="overflow-hidden bg-white shadow sm:rounded-md">
      <ul role="list" class="list-none divide-y divide-gray-200">
        <li>
          <div class="flex items-center px-4 py-4 sm:px-6">
            <div class="flex min-w-0 flex-1 items-center">
              <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                <div>
                  <p class="truncate text-sm font-medium text-grey-600"><%= name %></p>
                </div>
                <div>
                  <p class="text-sm text-gray-900">
                    <% rep_hash.transform_keys(&:humanize).each do |rep_type, count| %>
                        <p><%= rep_type %>: <%= count %></p>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
</div>
