<div id="<%= dom_id report %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">User</p>
    <%= report.user_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Account</p>
    <%= report.account_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Points</p>
    <%= report.points %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Rep type</p>
    <%= report.rep_type %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Rep count</p>
    <%= report.rep_count %>
  </div>
</div>
